$blue-1: #E6F7FF;
$blue-2: #BAE7FF;
$blue-3: #91D5FF;
$blue-4: #69C0FF;
$blue-5: #40A9FF;
$blue-6: #1890FF;
$blue-7: #096DD9;
$blue-8: #0050B3;
$blue-9: #003A8C;
$blue-10: #002766;

$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$gray-13: #000000;